page-npm {
	.background-template {
		background-color: #f4f4f4;
	}

	.center {
		text-align: center;
	}

	.template-center {
	    margin: auto;   
	    max-width: 900px;
	}

	.bold {
		font-weight: bold;
	}

	.font-medium {
		font-size: 20px;
	}


}
